#history {
  width: 100%;
  padding-top: 80px;
}

.items-container h1 {
  margin-bottom: 40px;
  text-align: left;
  font-size: 2.8rem;
}

.MuiTimelineOppositeContent-root {
  color: #ffffff !important;
}

.MuiTimelineContent-root h3,
.MuiTimelineContent-root h4,
.MuiTimelineContent-root p {
  color: white !important;
}

.MuiTimelineDot-root {
  background-color: #5000ca !important;
  color: white !important;
}

.MuiTimelineConnector-root {
  background-color: #ffffff33 !important;
}


.svg-inline--fa {
  color: white !important;
}

@media screen and (max-width: 1170px) {
  .vertical-timeline-element .vertical-timeline-element-date {
    color: rgb(160, 186, 28) !important; /* Data no card quando colado */
  }
}

@media screen and (max-width: 768px) {
  #history {
    padding-left: 5%;
    padding-right: 5%;
  }

  .items-container h1 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 480px) {
  .vertical-timeline-element p {
    font-size: 0.9rem;
  }

  .vertical-timeline-element h3 {
    font-size: 1.2rem;
  }
}


