/* Dark mode */
.dark-mode .home-about-section {
  background-color: rgba(0, 0, 0, 0.2);
}

.home-about-section {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 15%;
  min-height: 700px;

  background-image: url("/src/assets/bg-dark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  .home-image-wrapper {
    z-index: 2;

    img {
      width: 150px;
      border-radius: 50%;
    }
  }
}

.home-about-section .home-content {
  text-align: left;
  z-index: 2;

  .home-social-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;

    svg {
      font-size: 1.8em;
    }
  }

  .home-mobile-social-icons {
    display: none;
  }

  p {
    font-size: 1.5em;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  h1 {
    font-size: 5rem;
    line-height: 1.2;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
}

.home-about-section .home-image-wrapper{
  z-index: 2;
  img {
    width: 150px;
    border-radius: 50%;
  }
}

.about p {
  text-align: center;
  padding-top: 30%;
  padding-bottom: 30%;
}

@media screen {
  @media (max-width: 768px) {
    .home-about-section h1 {
      font-size: 2.5rem !important;
      text-align: left;
    }

    .home-about-section p {
      text-align: left;
    }
    
    .container {
      display: initial;
    }

    .home-social-icons {
      display: none !important;
    }

    .home-mobile-social-icons {
      padding-top: 10px;
      display: flex !important;
      flex-direction: row;
      gap: 10px;
      color: white;

      svg {
        font-size: 1.8em;
      }
    }

    .home-about-section {
      padding-top: 130px;
      display: block;
      padding-left: 0px;
      padding-right: 0px;
    }

    .home-about-section .home-content {
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 5%;
    }

    .home-about-section .home-image-wrapper {
      padding-left: 5%;
      width: 100%;
    }
  }
}